.aboutpage {
  width: 100vw;
  height: auto;
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.about {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 50px;
  gap: 10px;
  font-size: 2.5rem;
  color: rgb(106, 6, 236);
  position: relative;
  font-family: "Space Grotesk", sans-serif;
}
.about:after {
  position: absolute;
  content: "";
  width: 9%;
  height: 3px;
  left: 50%;
  bottom: -5px;
  background-image: linear-gradient(
    to right,
    rgb(106, 6, 236),
    rgb(220, 0, 240)
  );
  transform: translateX(-50%);
}
.col-md-7 {
  padding-left: 2rem;
  margin-top: 50px;
}

.aboutinfo {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.2rem;
  font-style: italic;
}

.tel,
.env {
  padding-right: 20px;
}

.info {
  margin-top: 40px;
}

.image-2 {
  height: auto;
  width: 60%;
 
   border-radius: 120px 60px 120px 60px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  gap: 10px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .col-md-7 {
    padding-left: 1rem;
  }

  .aboutinfo {
    font-size: 1rem;
  }

  .about {
    font-size: 2rem;
  }

  .image-2 {
    margin-top: 10px;
  }

  .info {
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .col-md-7 {
    padding-left: 0.5rem;
  }

  .aboutinfo {
    font-size: 0.9rem;
  }

  .about {
    font-size: 1.8rem;
  }

  .image-2 {
    margin-top: 10px;
  }
}
