.permanent-marker-regular {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  font-style: italic;
}
.navbar-fluid {
  position: fixed;
  top: 0;
  z-index: 1000;
}
.navbar {
  background-color: rgb(241, 239, 246) !important;
}
.vasanth:hover {
  color: rgb(220, 0, 240);
}
.hireme:hover {
  background-image: linear-gradient(
    to right,
    rgb(106, 6, 236),
    rgb(220, 0, 240)
  );
}
.nav-link {
  font-family: "Space Grotesk", sans-serif;

  font-weight: 600;
  font-style: normal;
  font-size: 16px;

  border-radius: 30px;
  cursor: pointer;
}

.nav-link:hover {
  background-image: linear-gradient(
    to right,
    rgb(106, 6, 236),
    rgb(220, 0, 240)
  );
  color: azure !important;
}
.nav-link.active {
  font-weight: bold;
  color: rgb(220, 0, 240) !important; /* Change this to the color you want for the active link */
}